ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}

li{
	float:left;
}

li a{
	display:block;
	color:white;
	text-align:center;
	text-decoration:none;
	height:57px;
	font-size:28pt;
	font-family:arial;
	padding-right:51px;
	padding-left:50.5px;
	line-height:60px;
}

li a:hover{
	background-color:orange;
}

.Active{
	background-color:orange;
}

#CallUs{
	float:right;
	margin-top:20px;
    color:grey;
    font-family:Arial;
}

h3 {
    font-family:Arial;
    font-size:20pt;
    font-style:italic;
    color:gray;
}

p {
    font-family:Arial;
    font-size:10pt;
}