ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}

li{
	float:left;
}

li a{
	display:block;
	color:white;
	text-align:center;
	text-decoration:none;
	height:57px;
	font-size:28pt;
	font-family:arial;
	padding-right:51px;
	padding-left:50.5px;
	line-height:60px;
}

li a:hover{
	background-color:orange;
}

.Active{
	background-color:orange;
}

#CallUs{
	float:right;
	margin-top:20px;
    color:grey;
    font-family:Arial;
}

h1{
	float:left;
	font-family:arial;
	font-size:34pt;
	color:gray;
}

.Smallimg{
	width:310px;
	height:170px;
}

p{
	font-family:arial;
	font-size:10pt;
}

#P2{
	position:relative;
	left:340px;
	bottom:60px;
}

#P3{
	position:relative;
	left:340px;
	bottom:60px;
}